In [ ]:
from google.colab import files
uploaded = files.upload()

import pandas as pd
import io  
df = pd.read_csv(io.BytesIO(uploaded['WA_Fn-UseC_-Telco-Customer-Churn.csv']))

Saving WA_Fn-UseC_-Telco-Customer-Churn.csv to WA_Fn-UseC_-Telco-Customer-Churn.csv

In [ ]:
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [ ]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [ ]:
df.drop('customerID',axis='columns',inplace=True)

In [ ]:
df.head()

   gender  SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
0  Female              0     Yes  ...          29.85         29.85    No
1    Male              0      No  ...          56.95        1889.5    No
2    Male              0      No  ...          53.85        108.15   Yes
3    Male              0      No  ...          42.30       1840.75    No
4  Female              0      No  ...          70.70        151.65   Yes

[5 rows x 20 columns]

In [ ]:
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [ ]:
df.shape

(7043, 20)

In [ ]:
df[pd.to_numeric(df.TotalCharges,errors='coerce').isna()]

      gender  SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
488   Female              0     Yes  ...          52.55                  No
753     Male              0      No  ...          20.25                  No
936   Female              0     Yes  ...          80.85                  No
1082    Male              0     Yes  ...          25.75                  No
1340  Female              0     Yes  ...          56.05                  No
3331    Male              0     Yes  ...          19.85                  No
3826    Male              0     Yes  ...          25.35                  No
4380  Female              0     Yes  ...          20.00                  No
5218    Male              0     Yes  ...          19.70                  No
6670  Female              0     Yes  ...          73.35                  No
6754    Male              0      No  ...          61.90                  No

[11 rows x 20 columns]

In [ ]:
df.shape

(7043, 20)

In [ ]:
df1=df[df.TotalCharges!=' ']
df1.shape

(7032, 20)

In [ ]:
df1.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [ ]:
df1.TotalCharges=pd.to_numeric(df1.TotalCharges)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [ ]:
df1.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [ ]:
def unique_col_values(df):
  for col in df:
    if df[col].dtype=='object':
      print(f'{col}: {df[col].unique()}')

In [ ]:
unique_col_values(df1)

gender: ['Female' 'Male']
Partner: ['Yes' 'No']
Dependents: ['No' 'Yes']
PhoneService: ['No' 'Yes']
MultipleLines: ['No phone service' 'No' 'Yes']
InternetService: ['DSL' 'Fiber optic' 'No']
OnlineSecurity: ['No' 'Yes' 'No internet service']
OnlineBackup: ['Yes' 'No' 'No internet service']
DeviceProtection: ['No' 'Yes' 'No internet service']
TechSupport: ['No' 'Yes' 'No internet service']
StreamingTV: ['No' 'Yes' 'No internet service']
StreamingMovies: ['No' 'Yes' 'No internet service']
Contract: ['Month-to-month' 'One year' 'Two year']
PaperlessBilling: ['Yes' 'No']
PaymentMethod: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn: ['No' 'Yes']

In [ ]:
df1.replace('No internet service','No',inplace=True)
df1.replace('No phone service','No',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4389: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [ ]:
unique_col_values(df1)

gender: ['Female' 'Male']
Partner: ['Yes' 'No']
Dependents: ['No' 'Yes']
PhoneService: ['No' 'Yes']
MultipleLines: ['No' 'Yes']
InternetService: ['DSL' 'Fiber optic' 'No']
OnlineSecurity: ['No' 'Yes']
OnlineBackup: ['Yes' 'No']
DeviceProtection: ['No' 'Yes']
TechSupport: ['No' 'Yes']
StreamingTV: ['No' 'Yes']
StreamingMovies: ['No' 'Yes']
Contract: ['Month-to-month' 'One year' 'Two year']
PaperlessBilling: ['Yes' 'No']
PaymentMethod: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn: ['No' 'Yes']

In [ ]:
yes_no_columns= ['Partner','Dependents','PhoneService','MultipleLines','OnlineSecurity','OnlineBackup',
                  'DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling','Churn']

for col in yes_no_columns:
  df1[col].replace({'Yes':1,'No':0},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4582: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [ ]:
unique_col_values(df1)

gender: ['Female' 'Male']
InternetService: ['DSL' 'Fiber optic' 'No']
Contract: ['Month-to-month' 'One year' 'Two year']
PaymentMethod: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

In [ ]:
df1.dtypes

gender               object
SeniorCitizen         int64
Partner               int64
Dependents            int64
tenure                int64
PhoneService          int64
MultipleLines         int64
InternetService      object
OnlineSecurity        int64
OnlineBackup          int64
DeviceProtection      int64
TechSupport           int64
StreamingTV           int64
StreamingMovies       int64
Contract             object
PaperlessBilling      int64
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                 int64
dtype: object

In [ ]:
df1['gender'].replace({'Male':1,'Female':0},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4582: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [ ]:
df1.dtypes

gender                int64
SeniorCitizen         int64
Partner               int64
Dependents            int64
tenure                int64
PhoneService          int64
MultipleLines         int64
InternetService      object
OnlineSecurity        int64
OnlineBackup          int64
DeviceProtection      int64
TechSupport           int64
StreamingTV           int64
StreamingMovies       int64
Contract             object
PaperlessBilling      int64
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                 int64
dtype: object

In [ ]:
unique_col_values(df1)

InternetService: ['DSL' 'Fiber optic' 'No']
Contract: ['Month-to-month' 'One year' 'Two year']
PaymentMethod: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

In [ ]:
df2=pd.get_dummies(data=df1,columns=['InternetService','Contract','PaymentMethod'])
df2.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'PaperlessBilling', 'MonthlyCharges', 'TotalCharges', 'Churn',
       'InternetService_DSL', 'InternetService_Fiber optic',
       'InternetService_No', 'Contract_Month-to-month', 'Contract_One year',
       'Contract_Two year', 'PaymentMethod_Bank transfer (automatic)',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check'],
      dtype='object')

In [ ]:
unique_col_values(df2)

In [ ]:
df2.dtypes

gender                                       int64
SeniorCitizen                                int64
Partner                                      int64
Dependents                                   int64
tenure                                       int64
PhoneService                                 int64
MultipleLines                                int64
OnlineSecurity                               int64
OnlineBackup                                 int64
DeviceProtection                             int64
TechSupport                                  int64
StreamingTV                                  int64
StreamingMovies                              int64
PaperlessBilling                             int64
MonthlyCharges                             float64
TotalCharges                               float64
Churn                                        int64
InternetService_DSL                          uint8
InternetService_Fiber optic                  uint8
InternetService_No                           uint8
Contract_Month-to-month                      uint8
Contract_One year                            uint8
Contract_Two year                            uint8
PaymentMethod_Bank transfer (automatic)      uint8
PaymentMethod_Credit card (automatic)        uint8
PaymentMethod_Electronic check               uint8
PaymentMethod_Mailed check                   uint8
dtype: object

In [ ]:
df2.head()

   gender  ...  PaymentMethod_Mailed check
0       0  ...                           0
1       1  ...                           1
2       1  ...                           1
3       1  ...                           0
4       0  ...                           0

[5 rows x 27 columns]

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

to_be_scaled=['tenure','MonthlyCharges','TotalCharges']

df2[to_be_scaled]=scaler.fit_transform(df2[to_be_scaled])
df2.head()

   gender  ...  PaymentMethod_Mailed check
0       0  ...                           0
1       1  ...                           1
2       1  ...                           1
3       1  ...                           0
4       0  ...                           0

[5 rows x 27 columns]

In [ ]:
X=df2.drop('Churn',axis='columns')
y=df2.Churn

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=5)

In [ ]:
len(X_train)

5625

In [ ]:
X_train.shape

(5625, 26)

In [ ]:
import tensorflow as tf
from tensorflow import keras

model=keras.Sequential([
                        keras.layers.Dense(26,input_shape=(26,),activation='relu'),
                        keras.layers.Dense(15, activation='relu'),
                        keras.layers.Dense(1, activation='sigmoid')
])

model.compile(
    
              optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy']
)

model.fit(X_train,y_train,epochs=100)

Epoch 1/100
176/176 [==============================] - 1s 1ms/step - loss: 0.5285 - accuracy: 0.7310
Epoch 2/100
176/176 [==============================] - 0s 1ms/step - loss: 0.4229 - accuracy: 0.7988
Epoch 3/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4166 - accuracy: 0.8018
Epoch 4/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4126 - accuracy: 0.8053
Epoch 5/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4107 - accuracy: 0.8059
Epoch 6/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4089 - accuracy: 0.8078
Epoch 7/100
176/176 [==============================] - 0s 1ms/step - loss: 0.4079 - accuracy: 0.8084
Epoch 8/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4062 - accuracy: 0.8075
Epoch 9/100
176/176 [==============================] - 0s 1ms/step - loss: 0.4047 - accuracy: 0.8103
Epoch 10/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4037 - accuracy: 0.8112
Epoch 11/100
176/176 [==============================] - 0s 1ms/step - loss: 0.4026 - accuracy: 0.8133
Epoch 12/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4014 - accuracy: 0.8128
Epoch 13/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3993 - accuracy: 0.8137
Epoch 14/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3995 - accuracy: 0.8135
Epoch 15/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3985 - accuracy: 0.8149
Epoch 16/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3968 - accuracy: 0.8142
Epoch 17/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3946 - accuracy: 0.8185
Epoch 18/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3937 - accuracy: 0.8181
Epoch 19/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3927 - accuracy: 0.8167
Epoch 20/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3912 - accuracy: 0.8190
Epoch 21/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3914 - accuracy: 0.8187
Epoch 22/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3897 - accuracy: 0.8196
Epoch 23/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3890 - accuracy: 0.8156
Epoch 24/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3875 - accuracy: 0.8190
Epoch 25/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3869 - accuracy: 0.8187
Epoch 26/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3855 - accuracy: 0.8196
Epoch 27/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3847 - accuracy: 0.8215
Epoch 28/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3847 - accuracy: 0.8226
Epoch 29/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3837 - accuracy: 0.8208
Epoch 30/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3826 - accuracy: 0.8210
Epoch 31/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3821 - accuracy: 0.8212
Epoch 32/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3802 - accuracy: 0.8236
Epoch 33/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3792 - accuracy: 0.8219
Epoch 34/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3786 - accuracy: 0.8260
Epoch 35/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3788 - accuracy: 0.8238
Epoch 36/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3781 - accuracy: 0.8233
Epoch 37/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3787 - accuracy: 0.8219
Epoch 38/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3770 - accuracy: 0.8238
Epoch 39/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3766 - accuracy: 0.8215
Epoch 40/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3753 - accuracy: 0.8213
Epoch 41/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3738 - accuracy: 0.8260
Epoch 42/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3736 - accuracy: 0.8252
Epoch 43/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3732 - accuracy: 0.8245
Epoch 44/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3718 - accuracy: 0.8245
Epoch 45/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3715 - accuracy: 0.8251
Epoch 46/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3710 - accuracy: 0.8283
Epoch 47/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3724 - accuracy: 0.8231
Epoch 48/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3693 - accuracy: 0.8252
Epoch 49/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3707 - accuracy: 0.8268
Epoch 50/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3688 - accuracy: 0.8270
Epoch 51/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3683 - accuracy: 0.8242
Epoch 52/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3683 - accuracy: 0.8263
Epoch 53/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3673 - accuracy: 0.8277
Epoch 54/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3663 - accuracy: 0.8279
Epoch 55/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3670 - accuracy: 0.8270
Epoch 56/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3654 - accuracy: 0.8295
Epoch 57/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3649 - accuracy: 0.8286
Epoch 58/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3630 - accuracy: 0.8311
Epoch 59/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3630 - accuracy: 0.8281
Epoch 60/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3627 - accuracy: 0.8311
Epoch 61/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3627 - accuracy: 0.8311
Epoch 62/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3611 - accuracy: 0.8315
Epoch 63/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3623 - accuracy: 0.8316
Epoch 64/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3607 - accuracy: 0.8302
Epoch 65/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3607 - accuracy: 0.8308
Epoch 66/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3608 - accuracy: 0.8290
Epoch 67/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3585 - accuracy: 0.8322
Epoch 68/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3590 - accuracy: 0.8331
Epoch 69/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3577 - accuracy: 0.8354
Epoch 70/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3579 - accuracy: 0.8329
Epoch 71/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3559 - accuracy: 0.8361
Epoch 72/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3573 - accuracy: 0.8329
Epoch 73/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3566 - accuracy: 0.8350
Epoch 74/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3558 - accuracy: 0.8352
Epoch 75/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3557 - accuracy: 0.8341
Epoch 76/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3548 - accuracy: 0.8340
Epoch 77/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3547 - accuracy: 0.8352
Epoch 78/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3554 - accuracy: 0.8356
Epoch 79/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3550 - accuracy: 0.8338
Epoch 80/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3540 - accuracy: 0.8350
Epoch 81/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3532 - accuracy: 0.8364
Epoch 82/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3524 - accuracy: 0.8384
Epoch 83/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3537 - accuracy: 0.8343
Epoch 84/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3535 - accuracy: 0.8373
Epoch 85/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3521 - accuracy: 0.8377
Epoch 86/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3496 - accuracy: 0.8393
Epoch 87/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3523 - accuracy: 0.8404
Epoch 88/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3503 - accuracy: 0.8388
Epoch 89/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3487 - accuracy: 0.8364
Epoch 90/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3495 - accuracy: 0.8363
Epoch 91/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3491 - accuracy: 0.8370
Epoch 92/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3497 - accuracy: 0.8366
Epoch 93/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3490 - accuracy: 0.8389
Epoch 94/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3476 - accuracy: 0.8391
Epoch 95/100
176/176 [==============================] - 0s 1ms/step - loss: 0.3485 - accuracy: 0.8391
Epoch 96/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3470 - accuracy: 0.8405
Epoch 97/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3486 - accuracy: 0.8366
Epoch 98/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3474 - accuracy: 0.8364
Epoch 99/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3471 - accuracy: 0.8411
Epoch 100/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3478 - accuracy: 0.8396

In [ ]:
model.evaluate(X_test,y_test)

44/44 [==============================] - 0s 1ms/step - loss: 0.4855 - accuracy: 0.7783

[0.4855279326438904, 0.778251588344574]

In [ ]:
yp=model.predict(X_test)
yp[0:5]

array([[0.413486  ],
       [0.2925902 ],
       [0.01476422],
       [0.60524344],
       [0.6821439 ]], dtype=float32)

In [ ]:
y=[]

for i in yp:
  if i>=0.5:
    y.append(1)
  else:
    y.append(0)

In [ ]:
y[0:5]

[0, 0, 0, 1, 1]

In [ ]:
y_test[0:5]

2660    0
744     0
5579    1
64      1
3287    1
Name: Churn, dtype: int64

In [ ]:
from sklearn.metrics import confusion_matrix,classification_report

print(classification_report(y,y_test))

              precision    recall  f1-score   support

           0       0.87      0.83      0.85      1045
           1       0.56      0.63      0.59       362

    accuracy                           0.78      1407
   macro avg       0.71      0.73      0.72      1407
weighted avg       0.79      0.78      0.78      1407